![מטלות.jpg](https://drive.google.com/uc?export=view&id=1MUxVnmlPnB7X3bOS-jJUTR9LDR7yeHN2)

<div dir="rtl" lang="he" xml:lang="he" >


#**<pre>          הקדמה ומנהלה**

<div dir="rtl" lang="he">

**תכנות וניתוח נתונים בשפת פייתון**

---
מרכז הוראה - מני עבודי

מנחה - גלעד מרקמן

נייד: 052-2653732

שעות ייעוץ טלפוני: יום ד' שעה 10:00

מייל: gilad.markman@openu.ac.il

*חלק מהתמונות והשאלות מתוך המצגות של גד לידרור*

![מטלות.jpg](https://drive.google.com/uc?export=view&id=1Npholv1g8sW_ZtyDXQ31Mos1DtvCtZXn)

<div dir="rtl" lang="he">


##**סביבות העבודה**


*   PyCharm - במחשב
*   Visual Studio Code - במחשב
*   Google Colab - בענן


[Google Colab](https://colab.research.google.com/)

עבודה בסביבה מקומית מחייבת להתקין את Python Interpreter במחשב המקומי, ולאחר מכן להתקין את סביבת העבודה (PyCharm)

[Python Download](https://www.python.org/downloads/)

[PyCharm Download](https://www.jetbrains.com/pycharm/download/?section=windows)

ניתן לעבוד גם עם Visual Studio Code אולם האוניברסיטה תומכרת רק ב  PyCharm.

[Visual Studio Code](https://code.visualstudio.com/download)

[הנחיות להתקנת פייתון והסביבה](https://webprogramming.azurewebsites.net/Pages/Python/Installation.aspx)

<div dir="rtl" lang="he">

---

#**<pre>          פלט - print**

In [ ]:
print('Hello world !')

Hello world !

In [ ]:
print (11, "days", 'to', "end of world")                  # הדפסה של מספר ערכים
print (1, 2, 3, sep=":")                                  # מגדיר את המפריד
print ("This print doesn't make new line.", end = " ")    # ללא ירידה שורה
print ("\tThis print makes \nnew line")                   # הדפסה לאחר טאב וירידת שורה
print ("1234", end="")
print ("\b5678")                                          # backspace
print ("first line", end="\r")                            # לאחר ההדפסה הסמן חוזר לתחילת השורה
print ("second line")

11 days to end of world
1:2:3
This print doesn't make new line. 	This print makes
new line
12345678
second line

<div dir="rtl" lang="he">

---

#**<pre>          משתנים בסיסיים - Variables**

<div dir="rtl" lang="he">

משתנים מאפשרים לנו לשמור נתונים בזכרון המחשב.
ניתן לשמור במשתנים סוגים שונים של ערכים: מספרים, טקסט ועוד.
כללים לקביעת שמות משתנים:

*   שמות משתנים חייבים להתחיל באות או בקו תחתון _:           name,  _name
*   שמות משתנים יכולים להחיל אותיות מספרים וקו תחתון:        myName1,  gilad_name
*   אותיות גדולות וקטנות הינן אותיות שונות:                  name, Name
*   יש להשתמש בשמות תיאוריים למשתנים המבהירים את מטרתם
*   אסור להשתמש במילות מפתח של השפה (מילים שמורות)
*   מקובל בפייתון לכתוב משתנים עם אותיות קטנות, כאשר המילים מופרדים בקו תחתון: my_var

<div dir="rtl" lang="he">

##**<pre>  השמה**

<div dir="rtl" lang="he">

השמה נעשית באמצעות האופרטור (=)

שימו לב! האופרטור (=) שונה מהשוויון במתמטיקה.

In [ ]:
name = 'Gilad'
age = 57
a = 1
a = a + 1

print(name, 'is', age, 'years old')
print(a)

Gilad is 57 years old
2

In [ ]:
print("name", name)

name Gilad

In [ ]:
a = 1
print(a)
a = a + 10
print(a)

1
11

<div dir="rtl" lang="he">

##**<pre>  סוגי משתנים**

In [ ]:
name = 'Gilad Markman'
age = 57
height = 1.84
is_bold = False

print(type(name))
print(type(age))
print(type(height))
print(type(is_bold))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
num = 1
num = "Gilad"
num = "123"
print(type(num))

<class 'str'>

In [ ]:
num1 = 123
num2 = "123"

print(num1 + 456)

579

<div dir="rtl" lang="he">

##**<pre>  המרה - casting**


<div dir="rtl">

ניתן להמיר בין סוגי אובייקטים באמצעות פקודות ההמרה הבאות:

In [ ]:
f1 = int("123")
print(f1)

123

In [ ]:
f2 = float(123)
i1 = int(123.5)
i2 = int("123")
st = str(123.0)
print(f1, f2, i1, i2, st)
print(type(f1), type(f2), type(i1), type(i2), type(st))

123 123.0 123 123 123.0
<class 'int'> <class 'float'> <class 'int'> <class 'int'> <class 'str'>

In [ ]:
num = int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

<div dir="rtl" lang="he">

---

#**<pre>          אופרטורים ופונקציות מינימום, מקסימום וערך מוחלט**

<div dir="rtl" lang="he">

##**<pre>  אופרטורים מספריים**

In [ ]:
a = 3 + 5   # חיבור
b = 3 - 5   # חיסור
c = 3 * 5   # כפל
d = 3 / 5   # חילוק
e = 3 // 5  # חילוק ללא שארית
f = 3 % 5   # שארית
g = 3 ** 5  # חזקה

In [ ]:
print(15 // 7)

2

In [ ]:
num = 352
a = num % 10
print(a)
num = num // 10
print(num)
b = num % 10
print(b)

2
35
5

<div dir="rtl" lang="he">

##**<pre>  אופרטורים של מחרוזות**

In [ ]:
a = "3"
b = "5"
c = a + b   # שירשור  concatenation
print(c)

8

In [ ]:
d = "*" * 25   # חזרה של מחרוזת
print (d)

*************************

In [ ]:
n = 5
print ("Gilad" + n) # str(n)

Gilad5

<div dir="rtl" lang="he">

##**<pre>  אופרטורים בוליאניים**

<div dir="rtl">

אופרטוקים בוליאניים מחזירים לנו שתי אפשרויות: אמת או שקר

True / False

In [ ]:
a = 3.5
b = 5
print (2 > 3)
print (a < 3)
print (b >= a)
print (a <= b)
print (a == 3.5)
print (b != 3)

False
False
True
True
True
True

In [ ]:
res = 2 < 3
print(res)

True

In [ ]:
print (2 > 4 and 3 < 5)
print ( 3 < a < 5)
print ( a > 3 or b < 5)
print (not 2 > 4)

False
True
True
True

In [ ]:
print ("Gilad" in "Gilad Markman")
print ("gilad" not in "Gilad Markman")

True
True

<div dir="rtl" lang="he">

##**<pre>  הפונקציות מינימום, מקסימום וערך מוחלט**

In [ ]:
print (min(3,5,1, -1))
print (max(3,5,1))
print (abs(-5))

-1
5
5

In [ ]:
a = 1
min_value = min(3,5,a, -1)
print(min_value)

-1

<div dir="rtl" lang="he">

---

#**<pre>          קלט - input**

<div dir="rtl">

פעולות המאפשרות לנו לקלוט נתונים מן המשתמש. אנחנו נלמד כיצד לקלוט נתונים שמזים המשתמש באמצעות המקלטת.

In [ ]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
print(num1 + num2)

Enter first number: 5
Enter second number: 2
52

In [ ]:
print(type(num1))

<class 'str'>

In [ ]:
num1 = input("Enter first number: ")
num1 = float(num1)

num2 = float(input("Enter second number: "))
print(num1 + num2)

Enter first number: 5
Enter second number: 2
7.0

<div dir="rtl" lang="he">

---

#**<pre>          תיעוד והערות**

<div dir="rtl" lang="he">


*   בכל הגשה של קובץ פיתון, צרו הערה בשורה הראשונה בקובץ, שתכיל את שמכם ואת מספר תעודת הזהות שלכם.
*   השתמשו בהערות כדי לתאר את הפעולה שעושה הקוד שאתם מגישים.
*   רישמו הערה בתחילת הקוד / הפונקציה המסבירה את האלגוריתם
*   הוסיפו הערה לכל שורה שיש בה משמעות מיוחדת, על מנת להסביר את פעולת הקוד שלכם

In [ ]:
'''
הקוד קולט שני מספרים, מחבר אותם ומדפיס את התוצאה
עוד שורה
'''
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
res = num1 + num2     # חיבור של הקלטים
print(res)

Enter first number: 23
Enter second number: 11
34.0

<div dir="rtl" lang="he">

---

# **<pre>          תרגילים**

<div dir="rtl" lang="he">

##**<pre>  תרגיל - שטח משולש**


כתוב תוכנית המקבלת מהמשתמש בסיס וגובה של משולש. התוכנית תדפיס את השטח של המשולש.

יש להדפיס למשתמש הוראות אילו נתונים להכניס. הפלט צריך להיות בסגנון הזה:

The area of the triangle is 25

In [ ]:
height_txt = input("Please enter the height: ")
height = float(height_txt)

base = input("Please enter the length of the base: ")
base = float(base)

area = (base * height) / 2
print("The area of the triangle is: ", area)

Please enter the height: 10.5
Please enter the length of the base: 2.2
The area of the triangle is:  11.55

<div dir="rtl" lang="he">

##**<pre>  תרגיל - הדפסת מעוינים**


כתוב תוכנית המדפיסה מעויין מכוכביות לפי הדוגמה הבאה.

המעויין יודפס באמצע הדף

![diamond](https://drive.google.com/uc?export=view&id=1yVRziLAPQYTpnc7y2DMyMdaaTqPkc_Lk)

In [ ]:
print("\t"* 8, " " * 10, "*" * 5)
print("\t"* 8," " * 5, "*" * 15)
print("\t"* 8," " * 0, "*" * 25)

								            *****
								       ***************
								  *************************

In [ ]:
print("\t"* 4," " * 10, "*" * 5)
print("\t"* 4," " * 5, "*" * 15)
print("\t"* 4," " * 0, "*" * 25)
print("\t"* 4," " * 5, "*" * 15)
print("\t"* 4," " * 10, "*" * 5)

				            *****
				       ***************
				  *************************
				       ***************
				            *****

<div dir="rtl" lang="he">

##**<pre>  תרגיל - שם פרטי ומשפחה**


כתוב תוכנית הקולטת לתוך משתנה אחד את השם הפרטי, ולתוך משתנה שני את שם המשפחה.

שרשרו את שני השמות לתוך משתנה אחד עם רווח ביניהם.

הדפיסו את השם המלא 50 פעמים, כאשר כל שם בשורה נפרדת.

In [ ]:
fname = input ("Enter first name: ")
lname = input ("Enter last name: ")
full_name = fname + " " + lname + "\n"
print(full_name*50)

Enter first name: Gilad
Enter last name: Markman
Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman	Gilad Markman

<div dir="rtl" lang="he">

##**<pre>  תרגיל - חישובים פשוטים**

כתוב תוכנית הקולטת 2 מספרים ומדפיסה את סכומם, והממוצע שלהם

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("num1 + num2 = ", num1 + num2)
print("The average is: ", (num1 + num2)/2)

Enter first number: 10
Enter second number: 10.5
num1 + num2 =  20.5
The average is:  10.25

<div dir="rtl" lang="he">

---

#**<pre>          מחרוזות**

<div dir="rtl">

##**<pre> המרת תו לקוד אסקי**

<div dir="rtl" lang="he">

מחרוזת בנויה ממספר תווים characters (char).

כל תו מיוצג במחשב באמצעות מספר בהתאם לטבלת ASCII.

ניתן להמיר תו למספר אסקי ובחזרה באמצעות הפקודות הבאות:

*   ord(char)
*   chr(value)


<center>
<img src="https://drive.google.com/uc?export=view&id=1MOkf9fUphOlkdj5aJquQ_M4rqcsZMH1B" width="800"/>
</center>

In [ ]:
print (ord('a'), ord('A'), ord('א'))
print (chr(97), chr(65))

97 65 1488
a A

<div dir="rtl" lang="he">

##**<pre>  פניה לתו במחרוזת**

<div dir="rtl">

ניתן לקרוא תו בודד מתוך מחרוזת באמצעות האינדקס שלו.

*   האינדקס הראשון הוא 0
*   מספר התווים במחרוזת מתקבל על ידי הפונקציה len
*   אינדקס שלילי סופר מהסוף להתחלה

In [ ]:
name = "Gilad Markman"
ch1 = name[5]
print (ch1)
print(ord(ch1))

32

In [ ]:
name = "Gilad"
print(len(name))
print (name[len(name)-1])
print(name[-2])

5
d
a

In [ ]:
l = len(name)
print(l)

13

In [ ]:
print(name[l-1])

n

In [ ]:
txt = "1234"
print(txt[3])

4

<div dir="rtl" lang="he">

##**<pre>  חיתוך מחרוזות - Slice**

<div dir="rtl">

ניתן לגשת לקטעים במחרוזת על ידי ציון טווח של האינדקסים

In [ ]:
name = "Gilad Markman"

In [ ]:
print(name[3:4])

a

In [ ]:
print(name[3:])

ad Markman

In [ ]:
print(name[:7])

Gilad M

In [ ]:
print(name[2:-2])

lad Markm

In [ ]:
first_name = name[0:5]
last_name = name[6:] # מאינדקס 6 עד הסוף
new_name = last_name + " " + first_name # שירשור מחרוזות
print(new_name)
last_name = name[-7:] # שימוש באינדקס שלילי
print(last_name)

Markman Gilad
Markman

<div dir="rtl" lang="he">

##**<pre>  פונקציות על מחרוזות**

In [ ]:
name = "Gilad Markman"
number = "3456"
print(len(name))                          # מחזיר אורך המחרוזת
new_name = name.replace("Gilad","Yoav")   # מחליף מחרוזת במחרוזת ומחזיר מחלוקת חדשה
print(new_name)
print(number.isalpha())                   # מחזיר אמת אם כל התווים אותיות
print(number.isdigit())                   # מדפיס אמת אם כל התווים ספרות

13
Yoav Markman
False
True

In [ ]:
name = "Gilad Markman"
# print(name.replace("Gilad", "Yoav"))
new_name = name.replace("Gilad", "Yoav")
print(name, new_name)

Gilad Markman Yoav Markman

In [ ]:
txt = "hello World !"
i = txt.find('o')         # -1 מחזיר את האינדקס של התו הראשון, אם לא קיים יחזיר
print(i)
print(txt.capitalize())   # מחזיר מחרוזת חדשה שהאות הראשונה היא אות גדולה
Upper_txt = txt.upper()
print(Upper_txt, txt)        # מחזיר מחרוזת חדשה שכל האותיות גדולות
print(txt.lower())        # מחזיר מחרוזת חדשה שכל האותיות קטנות
lower = txt.lower()
print(lower)

4
Hello world !
HELLO WORLD !
hello world !
hello world !

In [ ]:
txt1 = "   hello my  "
txt2 = "   world  "
print(txt1 + txt2)                  # מחזיר מחרוזת חדשה לאחר ביטול רווחים בהתחלה ובסוף
print(txt1.strip() + txt2.strip())
print(txt1.rstrip() + " " + txt2.lstrip()) # מחזיר מחרוזת חדשה לאחר ביטול רווחים בשמאל או בימין

   hello my     world
hello myworld
   hello my world

In [ ]:
txt = "HELLO"
new_txt = txt.lower()
print(txt, new_txt)

HELLO hello

In [ ]:
txt = txt.lower()
print(txt)

hello

<div dir="rtl" lang="he">

##**<pre>  תווי בקרה במחרוזת - esc char**

In [ ]:
print ("gilad\nmarkman")
print ("gilad\tmarkman")
print ("gilad\\telem)")
print ("gilad \"markman\"")

gilad
markman
gilad	markman
gilad\telem)
gilad "markman"

<div dir="rtl">

##**<pre>  f-string**

<div dir="rtl">

**f-string or formatted string** - זוהי דרך קלה לשלב משתנים וטקסט למחרוזת אחת.

In [ ]:
age = 57
childrens = 4
# txt = 'Gilad is ' + str(age) + ' years old. he has ' + str(childrens) + ...
txt = f'Gilad is {age} years old. he has {childrens} childrens'
print(txt)

Gilad is 57 years old. he has 4 childrens

<div dir="rtl">

#**<pre>          תרגילים**

<div dir="rtl" lang="he">

##**<pre>  תרגיל - חילוץ מילה פייתון**

<div dir="rtl" lang="he">

צרו משתנה והכניסו לתוכו את המחרוזת "Second python class"

הדפיסו על המסך את תת המחרוזת "python" בשלוש דרכים שונות (אחת באמצעות שירשור)

In [ ]:
txt = "Second python class"
print(txt[6:13])
print(txt[-13:-6])
print(txt[6]+txt[7]+txt[8]+txt[9]+txt[10]+txt[11]+txt[12])

 python
 python
 python

<div dir="rtl" lang="he">

##**<pre>תרגיל - ריבוע הקסם**


ריבוע הקסם הוא הוא ריבוע שבו סכום המספרים בכל שורה, בכל טור, ובכל אלכסון הוא שווה. כתבו תוכנית המבצעת את הפעולות הבאות:

*   קלטו מחרוזת הכוללת 4 ספרות המייצגות ריבוע קסם 2*2
*   בדקו שהקלט מורכב כולו מספרות, והדפיסו True / False
*   בדקו שאורך הקלט הוא 4, והדפיסו True / False
*   הדפיסו את הקלט בצורת ריבוע 2*2
*   בדקו האם הקלט מייצג "ריבוע קסם" והדפיסו True / False (רמז - אופרטורים בוליאניים)

In [ ]:
square = input("Enter 4 digits")
print(square.isdigit())
print(len(square) == 4)
print(square[0:2])
print(square[2:4])
is_kesem =  int(square[0])+int(square[1]) == int(square[2]) + int(square[3]) and \
            int(square[0])+int(square[2]) == int(square[1]) + int(square[3]) and \
            square[0]+square[3] == square[1] + square[2]
print(is_kesem)

Enter 4 digits1234
True
True
12
34
False